#gamecontainer {
	position: relative;
	width: 800px;
    height: 600px;
}

#gameWorld {
	position: absolute;
	/*z-index: 1;*/
	border: 1px solid brown;
	background: lightskyblue
}

#hplabel {
	position: absolute;
	color: red;
	top: 25px;
	right: 178px;
	font-size: 20px;
	z-index: 2;
}

#heart {
	position: absolute;
	top: 16px;
	right: 165px;
	height: 48px;
	width: 48px;
	z-index: 2;
}

.healthbar {
	z-index: 2;
	position: absolute;
	background-color: #1a1a1a;
	height: 25px;
	padding: 2px;
	width: 150px;
	top: 24px;
	right: 16px;
	border-radius: 5px;
	box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

#health {
	display: inline-block;
	height: 100%;
	border-radius: 5px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	transition: width .4s ease-in-out;
	background-color: red;
	width: 50%;
}

#healthlabel {
	text-align: center;
	line-height: 20px;
	color: white;
}

#magic {
	position: absolute;
	top: 55px;
	right: 175px;
	height: 30px;
	width: 30px;
	z-index: 2;
}

.magicbar {
	z-index: 2;
	position: absolute;
	background-color: #1a1a1a;
	height: 25px;
	padding: 2px;
	width: 150px;
	top: 53px;
	right: 16px;
	border-radius: 5px;
	box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

#mana {
	display: inline-block;
	height: 100%;
	border-radius: 5px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	transition: width .4s ease-in-out;
	background-color: blue;
	width: 100%;
}

#manalabel {
	text-align: center;
	line-height: 25px;
	color: white;
}

#gameStartMessage {
	z-index: 2;

	position: absolute;
	height: 50px;
	width: 150px;
	z-index: 2;
	/*background-color: rgba(56, 94, 97, .5);*/
	background-color: #385E61;
	border-style: outset;
	text-align: center;
	border-width: 10px;
	border-color: #7B8788;
	padding: 50px;
	font-style: italic;
	font-weight: bold;

	top: 200px;
	left: 300px;
	color: white;
	border-radius: 25px;
}
